.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
	&__group {
		display: flex;
		justify-content: space-between;
		&:nth-child(3) {
			margin-bottom: 0 !important;
		}
		&__label {
			text-transform: capitalize;
		}
	}
}

.form-control {
	width: auto !important;
}
