// Global reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	padding: 2rem;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	font-size: $font;

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: {
			left: 2rem;
		}
		&__feedback {
			display: flex;
			align-items: center;
			align-self: flex-end;
			&__search {
				border: $border;
				width: 300px;
				padding: 5px;
				&:placeholder {
					color: $color;
				}
			}
			&__btn {
				height: 30px;
				width: 30px;
				margin-left: $space;
			}
		}
		&__title {
			margin-top: 5rem;
			font-size: 50px;
		}
		&__info {
			margin-top: 2rem;
			width: calc(100% - 30px - 2rem);

			border: $border;
			display: flex;
			justify-content: space-between;
			padding: 1rem 3rem;
		}

		&__info--payout {
			@extend .main__content__info;
			flex-direction: column;
			justify-content: space-between;
			&__sub--title {
				margin-bottom: 0;
			}
			&__header {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
